button {
    padding: 10px;
    margin: 10px;
    font-family: 'Indie Flower';
    color: rgb(255, 0, 212);
    background-color: black;
}

.gif-style {
    padding: 15px;
    margin: 10px;
    border: 2px solid rgb(47, 255, 92);
    background-color: rgba(0, 0, 0, 0.507);
}

p {
    color: rgb(47, 255, 92);
    font-weight: bold;
}

body {
    font-family: 'Indie Flower';
    background-image: url("../background.jpg");
}

h1,
h2 {
    color: rgb(255, 0, 98);
    font-family: 'Pacifico';
}